@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  width: 100%;
  height: 100vh;
  background: #50508c;
}

.main-container {
  margin: 2rem 4rem;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  font-size: 48px;
  padding: 1rem 0 0.5rem 0;
}
.subtitle {
  font-size: 18px;
  margin-bottom: 2em;
}
.survey-form {
  background-color: #2b2b4a;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0;
}

label,
option {
  padding: 0.5rem 0;
}
input {
  padding: 0.6rem 0;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 1rem;
  color: #444;
}
p {
  margin: 0.2rem 0;
}

#role,
#favourite {
  width: 100%;
  padding: 0.6rem 0;
}

.span-text {
  margin-left: 0.5rem;
}
#textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
}

#submit {
  background: #36af65;
  color: #fff;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

/* mobile media query  */
@media only screen and (max-width: 600px) {
  .main-container {
    margin: 0.5rem;
  }
  .title {
    font-size: 33px;
  }
  .subtitle {
    font-size: 14px;
    margin-bottom: 2rem;
  }
}
